# Configurations files
.env.worker.dev
.env.worker.prod

.env.rnb.dev
.env.rnb.prod

.env.app.dev
.env.app.prod

.env.db_auth.dev
.env.db_auth.prod

.env.sentry.dev
.env.sentry.prod

.env.nginx-encrypt.prod

# Remove files in data folder since they are used for importing default data
source_data/

# Virtual environment
venv/
.env

# IDE settings
.idea/
.vscode/

# mac os file
*.DS_Store

# Jupyter Notebook temporary files
*-checkpoint.ipynb

