# Configurations files
.env.worker.dev
.env.worker.prod
.env.worker.staging
.env.worker.import
.env.worker.sandbox

.env.rnb.dev
.env.rnb.prod
.env.rnb.staging
.env.rnb.import
.env.rnb.sandbox

.env.app.dev
.env.app.prod
.env.app.staging
.env.app.import
.env.app.sandbox

.env.db_auth.dev
.env.db_auth.prod
.env.db_auth.staging
.env.db_auth.import
.env.db_auth.sandbox

.env.sentry.dev
.env.sentry.prod
.env.sentry.staging
.env.sentry.import
.env.sentry.sandbox

.env.nginx-encrypt.dev
.env.nginx-encrypt.prod
.env.nginx-encrypt.staging
.env.nginx-encrypt.import
.env.nginx-encrypt.sandbox

.env.s3_backup.dev
.env.s3_backup.prod
.env.s3_backup.staging
.env.s3_backup.import
.env.s3_backup.sandbox

.env.metabase.dev
.env.metabase.prod
.env.metabase.staging
.env.metabase.import
.env.metabase.sandbox

# Jupyter notebooks trash
app/.Trash-0/*


# Some data in notebook
/app/notebooks/rapprochements/AccesLibre/*.csv
/app/notebooks/rapprochements/histologe/*.csv
/app/notebooks/rapprochements/histologe/*.json
/app/notebooks/rapprochements/dataTourisme/data/
/app/notebooks/rapprochements/**/*.csv
/app/notebooks/rapprochements/**/*.json
/app/notebooks/rapprochements/**/*.cpg
/app/notebooks/rapprochements/**/*.dbf
/app/notebooks/rapprochements/**/*.prj
/app/notebooks/rapprochements/**/*.shp
/app/notebooks/rapprochements/**/*.shx
/app/notebooks/rapprochements/**/*.xlsx

/app/notebooks/evaluation_bal/**/*.csv

# Remove files in data folder since they are used for importing default data
source_data/

# Virtual environment
venv/
.env

# IDE settings
.idea/
.vscode/

# mac os file
*.DS_Store

# Jupyter Notebook temporary files
*-checkpoint.ipynb

.devcontainer/

/app/.Trash-*
