# Secret
.env.app.dev
.env.db.dev
.env.db_auth.dev

# Remove files in data folder since they are used for importing default data
data/

# Virtual environment
venv/
.env

# IDE settings
.idea/
.vscode/
