name: rnb-coeur

services:

  nginx-proxy:
    extends:
      file: docker-compose.common.yml
      service: nginx-proxy
    volumes:
      - "./nginx/vhost.d/web_location_additions:/etc/nginx/vhost.d/staging.rnb-api.beta.gouv.fr_location:ro"

  nginx-letsencrypt:
    extends:
      file: docker-compose.common.yml
      service: nginx-letsencrypt
    env_file:
      - ./.env.nginx-encrypt.staging

  web:
    extends:
      file: docker-compose.common.yml
      service: web
    restart: unless-stopped
    env_file:
      - ./.env.db_auth.staging
      - ./.env.app.staging
      - ./.env.rnb.staging
      - ./.env.sentry.staging
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000 --threads 6 --workers 6
    environment:
      - VIRTUAL_HOST=staging.rnb-api.beta.gouv.fr
      - VIRTUAL_PORT=8000
      - LETSENCRYPT_HOST=staging.rnb-api.beta.gouv.fr
      - URL=https://staging.rnb-api.beta.gouv.fr

  worker:
    extends:
      file: docker-compose.common.yml
      service: worker
    command: celery -A app worker --concurrency=3 --loglevel=INFO -Q default -O fair
    env_file:
      - ./.env.db_auth.staging
      - ./.env.app.staging
      - ./.env.worker.staging
      - ./.env.rnb.staging
      - ./.env.sentry.staging

  celery_beat:
    extends:
      file: docker-compose.common.yml
      service: celery_beat
    env_file:
      - ./.env.db_auth.staging
      - ./.env.app.staging
      - ./.env.worker.staging
      - ./.env.rnb.staging

  rabbitmq:
    extends:
      file: docker-compose.common.yml
      service: rabbitmq
    env_file:
      - ./.env.rabbitmq.staging
    volumes:
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf

  redis:
    extends:
      file: docker-compose.common.yml
      service: redis
    command: redis-server --appendonly yes --replica-read-only no

  flower:
    extends:
      file: docker-compose.common.yml
      service: flower
    env_file:
      - ./.env.worker.staging

  metabase:
    extends:
      file: docker-compose.common.yml
      service: metabase
    env_file:
      - ./.env.metabase.staging

volumes:
  certs:
  vhost:
  acme:
  html:
