<!DOCTYPE html>
<html>
<head>
	<title>RNB</title>

    <style>
    * {
        font-family: sans-serif;
    }
    li {
        margin-bottom: .7em;
    }
</style>

</head>
<body>

<div>
    <h1>Référentiel National des Bâtiments</h1>
    <h2>Menu</h2>
    <ul>
        <li><a href="https://beta.gouv.fr/startups/bat-id.html">La description du projet</a></li>
        <li><a href="https://github.com/fab-geocommuns/BatID/tree/reorg-repo/CNIG">La définition d'un bâtiment</a></li>
        <li><a href="https://rnb.beta.gouv.fr/api/alpha/buildings">API Bâtiments</a></li>
        <li style="color:#ccc;">La carte de visualisation des bâtiments</li>
    </ul>
</div>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>



