<div>
    <p>Bonjour,</p>
    <p>Voici le résumé des contributions au Référentiel National des Bâtiments pour le mois de {{ month_label }} :</p>
    <ul>
        {% for entry in leaderboard %}
        <li>{{ entry.username }} – {{ entry.edit_count }} édition{{ entry.edit_count|pluralize }}</li>
        {% endfor %}
    </ul>
    {% if new_usernames %}
    <p><strong>Bienvenue aux nouveaux inscrits :</strong></p>
    <ul>
        {% for username in new_usernames %}
        <li>{{ username }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Merci pour vos contributions !</p>
    <p>L'équipe RNB</p>
    <p>
        Pour tout renseignement, vous pouvez nous contacter par email : <a href="mailto:rnb@beta.gouv.fr">rnb@beta.gouv.fr</a>
    </p>
</div>
