<div>
        <p>Bonjour,</p>
        <p>Vous avez demandé la réinitialisation de votre mot de passe sur le site RNB. Pour changer votre mot de passe, veuillez cliquer sur le lien suivant :</p>
        <p><a href="{{ url }}">Réinitialiser votre mot de passe</a></p>
        <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer ce message.</p>
    </p>
    <p>
         Pour tout renseignement, vous pouvez nous contacter par email : <a href="mailto:rnb@beta.gouv.fr">rnb@beta.gouv.fr</a>
    </p>
</div>
