<h3>Bâtiment {{ rnb_id }}</h3>
{{ text }}

{% if action_success %}
<p>Revue de contribution enregistrée.</p>
<a href="/admin/batid/contribution/?status__exact=pending">Retour à la liste des contributions</a>
{% else %}
<p>
    <a href="https://rnb.beta.gouv.fr/carte?q={{rnb_id}}" target="_blank">carte rnb</a>
    {% for address in addresses_id_array %}
    <a href="https://adresse.data.gouv.fr/base-adresse-nationale/{{address}}" target="_blank">carte adresse</a>
    {% endfor %}
    <a href="https://www.google.fr/maps/@{{coordinates.1}},{{coordinates.0}},20z" target="_blank">google maps</a>
</p>
    <div style="margin-top: 48px;"></div>

<h4>Refuser la contribution</h4>
<form method="post" style="display: flex; flex-direction: column;" action="/contribution/fix/refuse">
    {% csrf_token %}
    <div>
        <div style="display: inline-block; width: 350px;">
            <label for="review_comment">Raison refus</label>
        </div>
    <input name="review_comment" type="text" placeholder="je refuse car..." value="{{ review_comment }}"
        style="width: 350px; margin-right:20px;">
    </div>
    <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
    <input type="submit" value="Refuser la contribution" style="margin-top: 12px; width: 200px;">
    </form>

<hr>

<h4 style="margin-top: 48px;">Supprimer le bâtiment</h4>
    <form method="post" style="display: flex; flex-direction: column;" action="/contribution/fix/delete">
        {% csrf_token %}
        <div>
        <div style="display: inline-block; width: 350px;">
            <label for="review_comment">Raison suppression du bâtiment</label>
        </div>

        <input name="review_comment" type="text" placeholder="je refuse car..." value="{{ review_comment }}"
            style="width: 350px; margin-right:20px;">
        </div>
        <input type="hidden" name="rnb_id" value="{{ rnb_id }}">
        <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
        <input type="submit" value="Supprimer le bâtiment" style="margin-top: 12px; width: 200px;">
    </form>

<hr>

<h4 style="margin-top: 48px;">Modifier le bâtiment</h4>
<form method="post" style="display: flex; flex-direction: column;" action="/contribution/fix/update_building">
    {% csrf_token %}
    <div>
    <div style="display: inline-block; width: 350px;">
    <label for="addresses_id"">Liste des clés d’interopérabilité BAN</label>
    </div>
    <input name="addresses_id" type="text" placeholder="Liste des clés d’interopérabilité" value="{{ addresses_id }}"
        style="width: 350px; margin-right:20px;">
    </div>
    <div style="margin-top: 12px;">
    <div style="display: inline-block; width: 350px;">
    <label for="status">Statut du bâtiment</label>
    </div>
    <select name="status" id="status" value="{{ status }}">
        <option value="constructionProject" {% if status == "constructionProject" %} selected {% endif %}>Projet de construction
        </option>
        <option value="canceledConstructionProject" {% if status == "canceledConstructionProject" %}selected{% endif %}>Projet
            de construction annulé</option>
        <option value="ongoingConstruction" {% if status == "ongoingConstruction" %}selected{% endif %}>Construction en cours
        </option>
        <option value="constructed" {% if status == "constructed" %}selected{% endif %}>Construit</option>
        <option value="ongoingChange" {% if status == "ongoingChange" %}selected{% endif %}>Modification en cours</option>
        <option value="notUsable" {% if status == "notUsable" %}selected{% endif %}>Non utilisable</option>
        <option value="demolished" {% if status == "demolished" %}selected{% endif %}>démoli</option>
    </select>
    </div>
    <div style="margin-top: 12px;">
        <div style="display: inline-block; width: 350px;">
            <label for="review_comment">Raison de la modification</label>
        </div>
        <input name="review_comment" type="text" placeholder="je modifie car..."
        value="{{ review_comment }}" style="width: 350px; margin-right:20px;">
    </div>

    <input type="hidden" name="rnb_id" value="{{ rnb_id }}">
    <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
    <input type="submit" value="Mettre à jour le bâtiment" style="margin-top: 12px; width: 200px;">
</form>
{% endif %}
