<h3>Bâtiment {{ rnb_id }}</h3>
{{ text }}

{% if action_success %}
<p>Revue de contribution enregistrée.</p>
{% else %}
<h3>Actions</h3>
<form method="post" style="display: flex;" action="/contribution/fix/refuse">
    {% csrf_token %}
    <input name="review_comment" type="text" placeholder="raison refus" value="{{ review_comment }}"
        style="width: 350px; margin-right:20px;">
    <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
    <input type="submit" value="Refuser la contribution">
    </form>

    <form method="post" style="display: flex;" action="/contribution/fix/delete">
        {% csrf_token %}
        <input name="review_comment" type="text" placeholder="raison suppression du bâtiment" value="{{ review_comment }}"
            style="width: 350px; margin-right:20px;">
    <input type="hidden" name="rnb_id" value="{{ rnb_id }}">
    <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
    <input type="submit" value="Supprimer le bâtiment">
</form>
<form method="post" style="display: flex;" action="/contribution/fix/update_addresses">
    {% csrf_token %}
    <input name="review_comment" type="text" placeholder="raison mise à jour des adresses du bâtiment"
        value="{{ review_comment }}" style="width: 350px; margin-right:20px;">
    <input name="addresses_id" type="text" placeholder="Liste des clés d’interopérabilité" value="{{ addresses_id }}"
        style="width: 350px; margin-right:20px;">
    <input type="hidden" name="rnb_id" value="{{ rnb_id }}">
    <input type="hidden" name="contribution_id" value="{{ contribution_id }}">
    <input type="submit" value="Mettre à jour les adresses du bâtiment">
</form>
{% endif %}
